.all_icons {
    height: 10%;
    margin-left: 20%;
}

.hover a:hover {
	text-decoration: none;
}

.hover a:hover h2{
	opacity: 0;
}

.bounce:hover {
	position: relative;
  -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  50%      { bottom:9px; }
  100%     {bottom:0;}
}

.centerText {
	text-align: center;
}

.social {
	margin-left: 3.8%;
	margin-top: 6%;
}

.pinkBox {
	width:200px;
	height:235px;
	border:5px solid #DFB5B5;
	margin-left:50%;
	margin-top: 18%;
}

.pinkBoxPicture {
	width:300px;
	height:165px;
	border:5px solid #DFB5B5;
	margin-left: -29%;
	margin-top:15%;
	display: block;
	overflow: hidden;
	background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 1)
    ),url("../pictures/MainDance.jpg");
	background-size: cover;
}

.pinkBoxPicture:hover {
	width:300px;
	height:165px;
	border:5px solid #DFB5B5;
	margin-left: -29%;
	margin-top:15%;
	display: block;
	overflow: hidden;
	background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),url("../pictures/MainDance.jpg");
	background-size: cover;
}

.pinkBoxPicture h2 {
	font-size: 80px;
	text-align: center;
	color: #DFB5B5;
	margin-top:31%;
}

.pinkBoxPicture a {
	text-decoration: none;
}

.goldBox {
	width:200px;
	height:235px;
	border:5px solid #D7B987;
	text-align:center;
	margin-left:28%;
	margin-top:18%;
}

.goldBoxPicture {
	width:300px;
	height:166px;
	border:5px solid #D7B987;
	margin-left: -29%;
	margin-top:15%;
	display: block;
	overflow: hidden; 
	background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 1)
    ),url("../pictures/Main CS.jpg");
	background-size: cover;
}

.goldBoxPicture:hover {
	width:300px;
	height:166px;
	border:5px solid #D7B987;
	margin-left: -29%;
	margin-top:15%;
	display: block;
	overflow: hidden; 
	background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),url("../pictures/Main CS.jpg");
	background-size: cover;
}

.goldBoxPicture h2 {
	font-size: 80px;
	text-align: center;
	color: #D7B987;
	margin-top:31%;
}

.silverBox {
	width:200px;
	height:235px;
	border:5px solid #B4ACAC;
	text-align:center;
	margin-left:7%;
	margin-top:18%;
}

.silverBoxPicture {
	width:300px;
	height:166px;
	border:5px solid #B4ACAC;
	margin-left: -29%;
	margin-top:15%;
	display: block;
	overflow: hidden; 
	background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 1)
    ),url("../pictures/Main Music.jpg");
	background-size: cover;
}

.silverBoxPicture:hover {
	width:300px;
	height:166px;
	border:5px solid #B4ACAC;
	margin-left: -29%;
	margin-top:15%;
	display: block;
	overflow: hidden; 
	background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),url("../pictures/Main Music.jpg");
	background-size: cover;
}

.silverBoxPicture h2 {
	font-size: 80px;
	text-align: center;
	color: #B4ACAC;
	margin-top:31%;
}

.pulse:hover {
  display: block;
  background: white;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(180,172,172, 0.4);
  animation: pulse 1.5s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(180,172,172, 0.4);
  }
  90% {
      -webkit-box-shadow: 0 0 0 30px rgba(180,172,172, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(180,172,172, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(180,172,172, 0.4);
    box-shadow: 0 0 0 0 rgba(180,172,172, 0.4);
  }
  90% {
      -moz-box-shadow: 0 0 0 30px rgba(180,172,172, 0);
      box-shadow: 0 0 0 30px rgba(180,172,172, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(180,172,172, 0);
      box-shadow: 0 0 0 0 rgba(180,172,172, 0);
  }
}

.pushTextDown1em {
	margin-top:1em;
}

.pushTextDown2em {
	margin-top:2em;
}

.takeTextUp {
	margin-top:-0.1em;
}

hr {
	border: 1px solid #DFB5B5;
	width: 95%;
}

h1 {
	font-family:"Avenir";
	font-size:40px;
	font-weight:300;
}

h2 {
	font-family:"Avenir";
	font-size:20px;
	font-weight:300;
}

p {
	font-family:"Avenir";
	font-size: 20px;
	font-weight:300;
}